@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); /*font-family: 'Inter', sans-serif; 400 e 700*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); /*font-family: 'Lexend Deca', sans-serif; 400*/

/*Color Variables:*/
$very-dark-blue: hsl(233, 47%, 7%); /*Main bg*/
$dark-desaturated-blue: hsl(244, 38%, 16%); /*Card bg*/
$soft-violet: hsl(277, 64%, 61%); /*Accent*/
$white: hsl(0, 0%, 100%); /*Main heading and stats*/
$main-paragraph-white: hsla(0, 0%, 100%, 0.75); /*Main Paragraph*/
$stats-heading-white: hsla(0, 0%, 100%, 0.6); /*Stats Heading*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 15px;
}

html {
    font-family: 'Inter';
    font-size: 15px;
    color: $white;
    font-weight: 400;

    body {
        background-color: $very-dark-blue;
        height: 100vh;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
}

/*Page Layout*/
main {
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 80%;

    .card {
        display: flex;
        background-color: $dark-desaturated-blue;
        border-radius: 15px;
        overflow: hidden;

        .card__item {
            flex-basis: 50%;
        }
    }
}

/*Text Area Layout*/
.text__area {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4rem 4rem 4rem 4rem;
    line-height: 1.4;

    .text__area--title {
        font-size: 2.2rem;
        font-weight: 700;

        .highlight {
            color: $soft-violet;
        }
    }

    .text__area--description {
        margin-top: 1.5rem;
        margin-right: 2.5rem;
        flex-grow: 1;
        color: $main-paragraph-white;
        line-height: 1.6;
    }

    .text__area--stats {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 3rem;

        .stats__item {
            .info__stat-number {
                text-align: left;
                font-size: 1.4rem;
            }
            .info__stat-name {
                text-transform: uppercase;
                font-size: .8rem;
                letter-spacing: .1rem;
                color: $stats-heading-white;
                font-family: 'Lexend Deca', sans-serif;
            }
        }
    }
}


/*Img Area Layout*/
.img__area {
    object-fit: cover;
    background-color: $soft-violet;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: .9;
    }
}





@media screen and (max-width: 1038px) {
    .text__area {
        padding: 2rem;
    }
}

@media screen and (max-width: 910px) {
    .text__area {
        .text__area--title {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 850px) {
    body { margin: 4rem 0;}
    
    main {
        .card {
            flex-direction: column-reverse;
            height: 100vh;

            .text__area {
                flex-basis: 80%;
                text-align: center;
            }
            .img__area {
                flex-basis: 20%;
            }
        }

    }
}



